<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!--  在遍历对象的过程中，如果只是获取一个值，那么获取到的是value-->
  <ul>
    <li v-for="item in info">{{item}}</li>
  </ul>
  <!--(value,key) in info-->

  <ul>
    <li v-for="(value,key,index) in info">{{key}}--{{value}}--{{index}}</li>
  </ul>
</div>
<script src="../lib/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'hello',
      info: {
        name: 'name',
        age: '18',
        height: 1.80
      }
    }
  })
</script>

</body>
</html>
