<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <cpn></cpn>
  <cpn>
    <span>Javascript-</span>
    <span>c++</span>
  </cpn>
  <cpn>
    <template slot-scope="slot">
      <!--      <span v-for="item in slot.data">{{item}}-</span>-->
      <!--      以 - 分割-->
      <!--      data 是下面 :data-->
      <span>{{slot.data.join(' - ')}}</span>
    </template>
  </cpn>
</div>

<template id="cpn">
  <div>
    <slot :data="pLanguages">
      <ul>
        <li v-for="item in pLanguages">{{item}}</li>
      </ul>
    </slot>
  </div>
</template>

<script src="../lib/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'hello'
    },
    components: {
      cpn: {
        template: '#cpn',
        data() {
          return {
            pLanguages: ['java', 'go', 'c++', 'c#', 'javascript']
          }
        },
        created() {
          // 转换成字符串
          this.pLanguages.join(' - ')
        }
      }
    }
  })
</script>

</body>
</html>
